body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: Verdana, sans-serif;


 background: url(5.png);
 background-size: 100%;

}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header .container {
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 180px;

  background-image: url("1.png");
  background-repeat: no-repeat;
  background-position: 520px 130px;
}

.main-nav {
  display: flex;
  margin-bottom: 95px;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 70px;

}
.logo2 {
  width: 100px;
  height: 100px;
  margin-right: 100px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  margin: 0;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.menu a {
  display: block;
  margin-right: 40px;

  font-size: 14px;
  text-decoration: none;
  color: #734a12;
}


.about-us {
  width: 500px;
  padding-left: 350px;
  margin-top: -300px
}

.about-us h1 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 45px;
  line-height: 30px;
  font-family: "Arkhip ";
 color:#B65F07;
}

.about-us p {
  margin: 0;
  margin-bottom: 50px;
  padding-left: 5px;

  font-size: 16px;
  line-height: 22px;
  color: #8b4513;
}
.btn {
  position: relative;

  display: inline-block;
  width: 245px;
  padding: 0 25px;

  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  color: #fff;
  background-color: #845b23; 
  cursor: pointer;
  border: none;
  border-radius: 50px;
}
.btn-outline:hover  {
  background-color: #000;
}
.online-booking-button {
  position: fixed;
  top: 40px;
  right: 350px;
  padding: 10px 20px;
  background-color: #845b23; 
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.features {
  padding: 100px 0;

  background-color: #FFF5E9;

  
}
.online-booking-button:hover {
  background-color: #000;
}
.moon-vacation {
  padding-top: 350px;
  padding-bottom: 45px;
  line-height: 20px;
    font-weight: 400;
    font-size: 230%;
  margin-top: 0;
 color:#B65F07;
  font-family: "Arkhip";

}
.footer-menu {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu > li {
  width: 280px;
  margin-right: 100px;
}
.footer-submenu-title {
  display: block;
 
  font-size: 18px;
  color: #543a16;
   text-align:  center;
  text-transform: uppercase;
  text-decoration: none;


}

.footer-submenu {
  margin: 0;
  padding: 0;
  list-style: none;

}

.footer-submenu > li {
  margin-bottom: 100px;

}

.footer-submenu a {
  color: #888888;
  
  text-decoration: none;

}


   
